.common_header .action-btn {
    line-height: 36px;
    font-size: 14px;
    color: #313131;
    padding: 0 9px;
    width: auto
}

body {
    background: #f4f4f4
}

.common_header {
    border-bottom: none
}

.wrapper {
    padding: 38px 0 38px 0
}

/*.wrapper .container{background-color: #fff;  }*/
.cartIcon {
    display: inline-block;
    vertical-align: middle;
    background: url(/imgs/car/cart-icon.png) no-repeat;
    -webkit-background-size: 1.14rem 1.14rem;
    -moz-background-size: 1.14rem;
    background-size: 1.14rem
}

.cartIcon.decreaseIcon {
    width: .19rem;
    height: .05rem;
    background-position: -.83rem -.02rem
}

.cartIcon.increaseIcon {
    width: .19rem;
    height: .19rem;
    background-position: -.58rem -.24rem
}

.cartIcon.checked_icon {
    width: .4rem;
    height: .4rem;
    background: url(/imgs/mycenter/xuanzhong2x.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    background-size: 100%;
}

.cartIcon.arrowRightIcon {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -.125rem;
    right: .2rem;
    width: .16rem;
    height: .23rem;
    background-position: -.98rem -.49rem
}

.check_circle {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: .8rem;
    height: 100%
}

.check_circle .cartIcon {
    position: absolute;
    width: .44rem;
    height: .44rem;
    left: .2rem;
    top: 50%;
    margin-top: -.22rem
}

.check_circle .cartIcon.check_icon {
    width: .4rem;
    height: .4rem;
    background: url(/imgs/mycenter/weixuan2x.png) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    background-size: 100%;
}

.check_circle .cartIcon.check_disabled_icon {
    width: .41rem;
    height: .41rem;
    background: #e2dede;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.fixed-b-two .check_circle {
    width: auto;
    padding: 0 .2rem 0 .78rem;
    line-height: .88rem;
    color: #606060;
    font-size: .26rem
}

.fixed-b-two .check_circle span {
    padding-right: .16rem
}

.loadingStyle {
    padding: .6rem 0
}

.item_cell {
    position: relative;
    padding-left: .8rem
}

.item_cell .check_circle {
    height: 2.2rem
}

.item_cell .item_cell_core {
    position: relative;
    display: block;
    padding: .2rem .1rem .2rem 0;
    border-bottom: 1px solid #f4f4f4
}

.item_cell .item_cell_core .product_img {
    position: relative;
    float: left;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    margin-right: .25rem
}

.item_cell .item_cell_core .product_img img {
    width: 100%
}

.item_cell .item_cell_core .product_img .nullStation {
    left: .1rem;
    top: .1rem;
    font-size: .22rem;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    width: 1rem;
    text-align: center;
    padding: .07rem 0;
    margin: 0;
    line-height: 1.1;
    height: auto;
    -webkit-border-radius: 0 .5rem .5rem 0;
    -moz-border-radius: 0 .5rem .5rem 0;
    border-radius: 0 .5rem .5rem 0
}

.item_cell .item_cell_core .item_cell_r {
    float: left;
    width: 3rem
}

.item_cell .item_cell_core .item_cell_r .pro_brand {
    font-size: .24rem;
    font-weight: 700;
    line-height: 1;
    color: #5d5d5d
}

.item_cell .item_cell_core .item_cell_r .pro_name {
    font-size: .24rem;
    color: #5d5d5d;
    line-height: 1;
    margin: .08rem 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.item_cell .item_cell_core .item_cell_r .pro_attribute {
    font-size: .22rem;
    color: #bdbdbd;
    line-height: 1;
    height: .24rem;
    margin-top: .2rem;
}

.item_cell .item_cell_core .item_cell_r .pro_price {
    font-size: .28rem;
    color: #313131;
    font-weight: 700;
    line-height: 1;
    margin: .1rem 0 .2rem 0
}

.item_cell .number {
    position: absolute;
    bottom: .64rem;
    right: .3rem
}

.item_cell .number .stock_contrl {
    color: #bb361f;
    font-size: .2rem;
    line-height: 1.2;
    margin-bottom: .08rem;
    text-align: center
}

.item_cell .number .number_control {
    height: .42rem;
    border: 1px solid #e3dddf;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    border-radius: .1rem
}

.item_cell .number .number_control .decrease,
.item_cell .number .number_control .increase,
.item_cell .number .number_control .num {
    float: left;
    width: .48rem;
    word-break: break-all;
    text-align: center;
    vertical-align: middle;
    height: 100%
}

.item_cell .number .number_control .increase {
    margin-top: -.02rem
}

.item_cell .number .number_control .num {
    width: .62rem;
    border-left: 1px solid #e3dddf;
    border-right: 1px solid #e3dddf;
    font-size: .24rem;
    color: #bdbdbd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.item_cell:last-child .item_cell_core {
    border-bottom: none
}

.cartNullFill {
    background: #fff;
    padding-top: 33px;
    text-align: center;
    border-bottom: 1px solid #F2ECFE;
    padding-bottom: 13px;
}

.cartNullFill .carNullIcon {
    width: 52px;
    height: 50px;
    margin-bottom: 9px;
}

.cartNullFill p {
    line-height: 1;
    font-size: 12px;
    margin-bottom: 11px;
    color: #9a9a9a
}

.content .top_tips {
    font-size: .24rem;
    height: .8rem;
    color: #9a9a9a;
    position: relative;
    background-color: #F6F6D3;
    line-height: .8rem;
    text-align: center;
}

.content .cart_item {
    margin-bottom: .2rem;
    background: #fff;
}

.content .cart_item .tit {
    position: relative;
    padding-left: .8rem;
    height: .88rem;
    line-height: .88rem;
    font-size: .28rem;
    color: #2a2a2a;
    border-bottom: 1px solid #f4f4f4
}

.content .cart_item .sort_total {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    padding: 0 .3rem;
    font-size: .24rem;
    color: #919191;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.content .cart_item .sort_total em {
    font-weight: 700;
    font-size: .28rem;
    color: #313131;
}

.content .cart_item .sort_total .sale_num {
    padding-left: .3rem
}

.content .fixed-bottom {
    position: fixed;
    bottom: .97rem;
    left: 0;
    width: 100%;
    z-index: 3;
    height: .88rem;
    background: #fff;
}

.content .fixed-bottom .total_money {
    display: table;
    padding: 0 2rem 0 .3rem;
    height: 100%;
    font-size: .22rem;
    color: #919192;
    margin-left: .5rem;
}

.content .fixed-bottom .total_money .total_money_in {
    display: table-cell;
    vertical-align: middle
}

.content .fixed-bottom .total_money .total_money_in span {
    padding-left: .05rem
}

.content .fixed-bottom .total_money .total_money_in .total_money_num {
    font-size: .26rem
}

.content .fixed-bottom .total_money .total_money_in .cart_realPrice {
    color: #313131;
    font-weight: 700;
}

.content .fixed-bottom .total_money .total_money_in .bottom_price {
    padding-right: .32rem
}

.content .fixed-bottom .payment_btn {
    position: absolute;
    top: 0;
    right: .2rem;
    height: 100%;
    width: 2rem;
    line-height: .88rem;
    background: #BB361F;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    color: #fff;
    font-size: .28rem;
    text-align: center
}

.content .fixed-bottom .payment_btn.love_btn {
    right: 2rem;
    background: #fff;
    color: #606060
}

.zp_list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #f4f4f4;
    z-index: 5
}

.zp_list .list {
    height: 100%;
    background: #fff;
    padding: .88rem 0;
    overflow: auto
}

.zp_list .item_cell {
    display: block
}

.zp_list .zp_submitBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    background: #313131;
    font-size: .32rem;
    color: #fff
}

.zp_list#zpPopBox .nullStation {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(154, 179, 108, .5);
    font-size: .28rem;
    color: #fff;
    text-align: center;
    line-height: 1.8rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.changeNumBox .pop_box_content {
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.changeNumBox .content_inner {
    background: #fff;
    padding: .2rem
}

.changeNumBox .content_inner .pop_box_title {
    padding: 0;
    font-size: .3rem;
    color: #2a2a2a;
    line-height: 1.2
}

.changeNumBox .content_inner .number {
    margin: .3rem 0 .1rem 0;
    text-align: center
}

.changeNumBox .content_inner .number .stock_contrl {
    display: inline-block;
    margin-left: .1rem;
    color: #ff908f;
    font-size: .22rem
}

.changeNumBox .content_inner .number .number_control {
    display: inline-block;
    height: .6rem;
    border: 1px solid #e3dddf
}

.changeNumBox .content_inner .number .number_control .decrease,
.changeNumBox .content_inner .number .number_control .increase,
.changeNumBox .content_inner .number .number_control .num {
    word-break: break-all;
    text-align: center;
    height: 100%;
    width: .64rem;
    vertical-align: middle
}

.changeNumBox .content_inner .number .number_control .num {
    width: 1.28rem;
    border-left: 1px solid #e3dddf;
    border-right: 1px solid #e3dddf;
    font-size: .3rem;
    color: #bdbdbd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.separate_account .pop_box_content {
    width: 84%;
    margin-left: -42%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: 0 0
}

.separate_account .pop_box_content .content_inner {
    overflow: hidden;
    background: #fff
}

.separate_account .pop_box_content .content_inner .pop_box_title {
    font-size: .3rem;
    line-height: 1.3;
    color: #2a2a2a;
    padding: .27rem .5rem .25rem .5rem;
    border-bottom: 1px solid #e1dedf
}

.separate_account .pop_box_content .content_inner .account_sort .item_cell {
    display: block;
    padding: .26rem .3rem .26rem .8rem;
    line-height: 1.3;
    font-size: .24rem;
    border-bottom: 1px solid #f4f4f4
}

.separate_account .pop_box_content .content_inner .account_sort .item_cell .check_circle {
    top: 1px;
    height: 100%;
    background: #fff
}

.separate_account .pop_box_content .content_inner .account_sort .item_cell .item_cell_core {
    border-top: 0;
    padding: 0;
    color: #5d5d5d;
    border-bottom: none;
    text-align: left
}

.separate_account .pop_box_content .content_inner .account_sort .item_cell .proNum {
    font-size: .24rem;
    color: #bdbdbd;
    float: right
}

.separate_account .pop_box_content .content_inner .account_sort .item_cell .cangName {
    max-width: 77%;
    display: block;
    float: left
}

.separate_account .pop_box_content .content_inner .account_sort .item_cell:last-child {
    border-bottom: 0
}

.separate_account .pop_box_content .b_btn {
    border-top: none
}

.changeNumBox .btns,
.separate_account .btns {
    margin-top: .02rem;
    font-size: .26rem
}

.changeNumBox .btns a,
.separate_account .btns a {
    display: block;
    float: left;
    width: 50%;
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    background: 0 0
}

.changeNumBox .btns a span,
.separate_account .btns a span {
    display: block
}

.changeNumBox .btns .quickBtn span,
.separate_account .btns .quickBtn span {
    background: #fff;
    color: #5d5d5d;
    margin-right: .02rem
}

.changeNumBox .btns .okBtn span,
.separate_account .btns .okBtn span {
    background: #dcb86c;
    color: #fff
}

#toTop {
    bottom: 2rem
}

.quantityPurchased .pop_box_content {
    width: 84%;
    padding: .64rem .24rem .5rem .24rem;
    margin-left: -42%;
    max-height: 86%;
    overflow-y: auto;
    background-color: #fff;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: left
}

.quantityPurchased .pop_box_content .closeBtn {
    position: absolute;
    z-index: 3;
    padding: .24rem;
    right: 0;
    top: 0
}

.quantityPurchased .pop_box_content .closeBtn .closeBtnIcon {
    background: url(/imgs/mycenter/icon_close.png) no-repeat;
    height: .3rem;
    width: .3rem;
    display: inline-block;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    float: right
}

.quantityPurchased .pop_box_content .beyond,
.quantityPurchased .pop_box_content .lower {
    padding-left: .26rem
}

.quantityPurchased .pop_box_content .beyond .betitle,
.quantityPurchased .pop_box_content .lower .betitle {
    color: #ff7771;
    font-size: .26rem
}

.quantityPurchased .pop_box_content .beyond .beUl,
.quantityPurchased .pop_box_content .lower .beUl {
    width: 100%;
    margin-bottom: .3rem
}

.quantityPurchased .pop_box_content .beyond .beUl li,
.quantityPurchased .pop_box_content .lower .beUl li {
    padding: .28rem 0;
    border-top: 1px solid #fff;
    font-size: .22rem;
    color: #333;
    border-bottom: 1px solid #f1f1f1
}

.quantityPurchased .pop_box_content .beyond .beUl li span,
.quantityPurchased .pop_box_content .lower .beUl li span {
    width: .22rem;
    height: .22rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #313131;
    display: inline-block;
    float: left;
    margin-top: .05rem
}

.quantityPurchased .pop_box_content .beyond .beUl li .shopsing,
.quantityPurchased .pop_box_content .lower .beUl li .shopsing {
    float: left;
    width: 5rem;
    margin-left: .1rem
}

.quantityPurchased .pop_box_content .beyond .beUl li:first-child,
.quantityPurchased .pop_box_content .lower .beUl li:first-child {
    padding-top: .23rem
}